[Unit]
Description=Service for using Pirate Audio display in volumio

[Service]
Type=simple
ExecStart=/data/plugins/system_hardware/pirateaudio/venv/bin/python \
         /data/plugins/system_hardware/pirateaudio/display.py
Restart=always
StandardOutput=journal
StandardError=journal
SyslogIdentifier=volumio
User=volumio
Group=volumio

[Install]
WantedBy=multi-user.target
